body{
    text-align: center;
    font-size: x-large;
    position: static;
    font-family:'Courier New', Courier, monospace;
    background-image: linear-gradient(-45deg, hsl(319, 86%, 73%) 50%, white 50%);
    margin: 8px;
}
.menu1{
    list-style: none;
    padding:0;
    background:transparent;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    font-size: x-large;
    position: static;
    
}
.menu1 li a{
    text-decoration: none;
    color:#000000;
    padding: 10px;
    display: block;
}
.menu1 li {
    display: inline-block;
    text-align: left;
}
.menu1 li a :hover{
    background:#f55cc4;
    padding: 8px;
}
table{
    position: static;
    display: inline-block;
}
table tr td{
    width: 635px;
    height: 425px;
    display: inline-block;
    text-align:center;
    position: static;
}
table tr td b a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: x-large;
    position: static;
    text-decoration: none;
}
table tr td b img{
    width:620px ;
    height:425px ;
    position: static;
    image-rendering: auto;
    text-decoration: none;
}